{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Codemy Ecommerce</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align ="justify">




                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet tristique ante. Cras sollicitudin nisi nec ornare laoreet. Nulla pharetra ultrices porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse ut pulvinar tortor, sit amet cursus purus. Integer mattis at neque non sodales. Praesent auctor lectus eget pretium fermentum. Curabitur posuere est odio, eget fringilla urna condimentum ac. Nunc vehicula libero tortor, eget dignissim tellus bibendum in. Donec vel posuere ligula. Curabitur tortor urna, scelerisque et convallis a, placerat sit amet mi. Etiam neque felis, finibus feugiat ligula eu, sollicitudin rutrum velit. Sed vel lectus eget tortor ultricies pulvinar. Donec sollicitudin justo ligula. Nulla viverra eros sodales vehicula imperdiet. <br/><br/>

                    Sed leo purus, egestas ac volutpat vitae, porttitor ac elit. Quisque ac sollicitudin lacus, sit amet luctus ipsum. Vestibulum lorem lectus, sagittis ac auctor facilisis, pharetra nec felis. Donec at erat sed ipsum sodales viverra. Pellentesque non dolor in est viverra tristique a vitae neque. Vestibulum ac venenatis mi. Mauris nec arcu vitae erat elementum scelerisque semper et nisi. Praesent molestie laoreet orci eget feugiat. Sed sapien lacus, auctor vitae dignissim id, placerat sed magna. Phasellus tempor eros et orci egestas viverra. Morbi molestie consectetur felis non mollis.

                    Praesent ipsum orci, suscipit ut scelerisque et, ornare sit amet ex. Sed quis eleifend dolor. Aliquam suscipit placerat velit, eget egestas magna feugiat eget. Curabitur porttitor lacus tortor, eu consectetur ex imperdiet in. Duis ligula orci, rhoncus et pulvinar at, consectetur vitae sem. Mauris sit amet tempor dolor. Phasellus nec dapibus augue, vitae pretium orci. Praesent maximus magna sit amet purus interdum, in rhoncus arcu tincidunt. Phasellus ante nibh, vehicula nec ultricies et, varius non nulla. Sed gravida est sed sem bibendum, non condimentum purus fringilla. Curabitur nec pulvinar tellus. Duis at ultrices ante. Cras non magna hendrerit, ultrices nulla vitae, pulvinar sem. Pellentesque semper eros eros, id pellentesque neque mattis ut. Suspendisse in velit at felis egestas accumsan. Integer rhoncus velit at mi scelerisque porta. <br/><br/>

                    Aliquam erat volutpat. Etiam non dui vestibulum, mollis tortor sed, porta nisl. Aliquam quis dui eu velit cursus elementum. Fusce ultricies sollicitudin ligula vitae pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam dapibus velit nisi, sit amet volutpat turpis volutpat sed. Etiam mattis lacus eu suscipit accumsan. In id lectus risus. Proin ac mi quis orci ornare placerat. Vestibulum tempus purus sit amet libero semper, in laoreet magna aliquam. Cras rutrum sed nisi quis facilisis. Maecenas ut lectus vitae nisi aliquet sagittis. Nullam accumsan sollicitudin leo, eget interdum dui vulputate in. Duis nibh augue, blandit et nisl vel, sollicitudin lobortis tortor. Vivamus eleifend erat sed arcu tempor, vitae egestas enim tempor. <br/><br/>

                    Cras eget magna massa. Maecenas fringilla ultricies enim, ac porttitor lectus lobortis eu. In semper gravida tortor, vel fringilla odio suscipit ut. Nam ut hendrerit nibh. Aenean id faucibus ipsum. Morbi at elit est. Cras mattis pharetra nisi. Aenean diam ex, efficitur non nulla vel, fringilla efficitur ipsum. In hac habitasse platea dictumst. Nunc iaculis, urna a ullamcorper dapibus, lacus enim viverra elit, et congue enim orci vel arcu. Nulla porta mi id urna auctor fermentum. Duis aliquet quis tortor quis sollicitudin. Proin augue nibh, luctus non euismod eget, commodo pretium justo.
                    </p>
                    <br/><br/>


                </div>
            </center>

        </div>
    </div>
    <!-- Section-->
{% endblock %}
