{% extends 'base.html' %}
{% block content %}
<div class="container">
<br/>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <center class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            {% if product.is_sale %}
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
<!--
                  <div class="col mb-5">
                      <div class="card h-100"> -->
                          <!-- <div class="badge bg-light text-black position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div> -->

                          <!-- Product image-->
                          <!-- <img class="card-img-top" src="{{product.image.url}}" alt="..." /> -->
                          <!-- Product details-->
                          <div class="card-body p-4">
                              < class="text-center">
                                  <!-- Product name-->
                                  <!-- <h5 class="fw-bolder">Fancy Product {{ product.name }}</h5> -->
                                  <!--Sale-->
                                  <div class="d-flex justify-content-center small text-warning mb-2">
                                      <div class="bi-star-fill"></div>
                                      &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                                      <div class="bi-star-fill">
                                      </div>
                                  </div>
                                  <!-- Product price-->
                                  <s>${{ product.price }}</s>
                                  &nbsp;
                                  {{ product.sale_price}}
              {% else %}
            ${{ product.price }}
            <br/> ID: {{ product.id }}
            {% endif %}
            <br></br>
            <a href="{%url 'home'%}" class="btn btn-secondary">Home</a>
            <button type ="button" value = "{{ product.id }}"class="btn btn-secondary" id="add-cart">Add To Cart</button>
          </center>
          </div>
        </div>
      </div>
    </div>
</div>

<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br>
<script>
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault(); // Ngăn chặn hành động mặc định của sự kiện click

    $.ajax({
      type: 'POST', // Phương thức gửi yêu cầu là POST
      url: "{% url 'cart_add' %}", // URL mà yêu cầu sẽ được gửi đến (đây là một biến template trong Django)
      data: {
        product_id: $('#add-cart').val(), // Dữ liệu được gửi đi, ở đây là giá trị của phần tử có id 'add-cart'
        csrfmiddlewaretoken: '{{ csrf_token }}', // Token CSRF để bảo mật (được lấy từ template Django)
        action: 'post' // Thông tin thêm để chỉ định hành động là 'post'
    },
        success: function(json){ // Hàm sẽ được gọi khi yêu cầu thành công
            // console.log(json) // In ra console dữ liệu JSON trả về
            document.getElementById("cart_quantity").
            textContent = json.qty;
          },
        error: function(xhr, errmsg, err){ // Hàm sẽ được gọi khi có lỗi xảy ra
        }
    });
});

</script>
{% endblock %}
