{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"></h1>
                <p class="lead fw-normal text-white-50 mb-0"></p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">

                    <br/><br/>
<h3>Un-Shipped Items </h3>
<table class="table table-bordered">
  <thead>
      <tr>
          <th scope="col">Order</th>
          <th scope="col">Price</th>
          <th scope="col">Customer Email</th>
          <th scope="col">Date Ordered</th>
      </tr>
  </thead>
  <tbody>
      {% for item in orders %}
          <tr>
            <td><a href="{% url 'orders' item.id %}">{{ item.id }}</a></td>
              <td>{{ item.amount_paid }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.date_ordered }}</td>
          </tr>
      {% endfor %}
  </tbody>
</table>
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

                </div>
            </center>

        </div>
    </div>
    <!-- Section-->
{% endblock %}
